/*** color ***/
$primary : #00a7e1;
$white: #ffffff;

/*** black ***/
$black_01: #27292d;

/*** blue ***/
$blue_01: #0180ad;
$blue_02: #39f;
$blue_03: #1876d2;
$blue_04: #1976d2;

/*** grey ***/
$grey_01: #8a93a2;
$grey_02: #636f83;

$palettes: (
        red: (
                600: #c6002b,
                500: #cd212e,
                400: #e22c3a,
                300: #f4747c,
                200: #f79096,
                100: #f4adb1,
        ),
        blue: (
                600: #zd,
                500: #509da7,
                400: #30bac6,
                300: #68c8d5,
                200: #84dae5,
                100: #a3e2eb,
        ),
        grey: (
                600: #27292d,
                500: #3f4447,
                400: #717277,
                300: #a9afb2,
                200: #e6eaed,
                100: #f6f8f9,
        ),
);




